node_modules/
npm-debug.log
yarn-error.log

.env

logs/
*.log
pids/
*.pid
*.seed

.DS_Store
Thumbs.db

build/
dist/
out/

*.tar
docker-compose.override.yml

.cache/
.tmp/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

backend/node_modules/.cache/mongodb-memory-server/
